---
import ExperienceCard from "./ExperienceCard.astro";
import { experience } from "../data/experience";
---
<div class="experience">
  <div class="experience_info">
    <div class="experience_info_header">
      <span>Experiencia</span>
      <p>Aqui encuentras un breve resumen de mi mas reciente experiencia</p>
    </div>
  </div>
  <div class="experience_cards">
    {
      experience.map(ex => <ExperienceCard  company={ex.company} activities={ex.activities} date={ex.date}/>)
    }
  </div>
</div>

<style>
  .experience {
    background: #1d223a;
    color: white;
    padding: 50px 0;
  
  }
  .experience_info {
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: end;
    column-gap: 5px;
  }

  .experience_info_header {
    text-align: center;
  }

  .experience_info_header span {
    background: rgb(99, 98, 98);
    border-radius: 30px;
    padding: 0 10px;
    margin-top: -100px;
  }
  .experience_info_header p {
    margin-top: 10px;
  }
  .experience_cards {
    padding: 20px 150px;
  }
</style>
