---
import TecnologyCard from "./tecnologyCard.astro";
import { logos } from "@data/logos";
---

<div class="skills">
  <div class="skills_info">
    <div class="skills_info_header">
      <span>Habilidades</span>
      <p>
        Habilidades, herramientas y tecnologias que utilizo como desarrollador
        de software
      </p>
    </div>
  </div>
  <div class="skills_cards">
    {logos.map(logo => <TecnologyCard url={logo.url} name={logo.name} />)}
  </div>
</div>

<style>
  .skills {
    background: #0c0e1c;
    color: white;
  }
  .skills_info {
    min-height: 140px;
    display: flex;
    justify-content: center;
    align-items: end;
    column-gap: 5px;
  }

  .skills_info_header {
    text-align: center;
  }

  .skills_info_header span {
    background: rgb(99, 98, 98);
    border-radius: 30px;
    padding: 0 10px;
    margin-top: -100px;
  }
  .skills_info_header p {
    margin-top: 10px;
  }

  .skills_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10px;
    row-gap: 15px;
    padding: 60px 10px;
  }
</style>
