---
import { Image } from "astro:assets";

const { url, name } = Astro.props;
---
<div class="tecnology-card">
    <div class="tecnology-card__img">
        <Image src={url} alt="Habilidad" width={100} height={100}>
    </div>
    <span>{name}</span>
</div>

<style>
    .tecnology-card{
        width: 160px;
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }
    .tecnology-card__img{
        display: flex;
        justify-content: center;
    }
    .tecnology-card img{
        width: 50%; 
    }
    .tecnology-card span{
        text-align: center;
    }
</style>