<div class="tecnology-card">
    <div class="tecnology-card__img">
        <img src="js.png" alt="">
    </div>
    <span>React</span>
</div>

<style>
    .tecnology-card{
        width: 230px;
        display: flex;
        flex-direction: column;
    }
    .tecnology-card__img{
        display: flex;
        justify-content: center;
    }
    .tecnology-card img{
        width: 50%; 
    }
    .tecnology-card span{
        text-align: center;
    }
</style>